@import "~@blueprintjs/core/lib/scss/variables";

.gutter {
    background-color: #ddd;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}

.editors {
    height: calc(100% - #{$pt-navbar-height});

    .gutter, .editor {
        float: left;
    }

    .editor {
        height: 100%;
        width: 100%;
    }
}

.editors::after {
    content: "";
    display: table;
    clear: both;
}

.responseTabs {
}

#requestEditorSplit {
    height: 100% !important;
}

#responseEditorSplit {
    height: calc(100% - #{$pt-navbar-height}) !important;
}
